<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="angular.js"></script>
    <link rel="stylesheet" type="text/css" href="angular.css">
  </head>
  <body>
    <h1>Experiments</h1>
    <div>
      I can add: {{1+2}}
    </div>
    <h1>Program 1</h1>
    <input ng-model="name" type="text" />
    <div>
      <label>Hello {{name}}!</label>
    </div>

    <h1>Program 2</h1>
    <div ng-controller="TodoController">
      <span>remaining {{remaining()}} of {{todos.length}}</span>
      [ <a href="" ng-click="archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done" />
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <div>
        <form ng-submit="addTodo()">
          <input type="text" ng-model="todoText" placeholder="add new todo here" />
          <input type="submit" value="add" />
        </form>
      </div>
    </div>
	</body>
</html>